*
!microcosm_fastapi
microcosm_fastapi/tests
!dist/*-none-any.whl
!entrypoint.sh
!MANIFEST.in
!README.md
!HISTORY.rst
!requirements.txt
!setup.py
!setup.cfg
!pyproject.toml
!conftest.py
**/*.pyc
**/*~
